body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    padding-top: 5rem;
    margin: 0 auto;
    width: 600px;
}

.rm {
    background: red;
    color: white;
    border: none;
}

.header {
    background-color: #5A5863 !important;
}

.header a {
    color: white !important;
}

.mainButton {
    background-color: #1A7FA8 !important;
}

.primaryButton {
    color: #009edd !important;
    border: 2px solid #009edd !important;
}

.primaryButton:hover {
    background-color: #1A7FA8 !important;
    color: white !important;
}

.footer {
    background-color: #E8E8EE;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}

.mainContainer {
    margin-top: 80px !important;
    padding: 0 185px !important;
}

.deleteButton{
    margin-left: 10px;
    border: 2px solid #BB0001 !important;
    color: black !important;
    background-color: white !important;
}

.deleteButton:hover{
    border: 2px solid #BB0001 !important;
    color: white !important;
    background-color:  #BB0001 !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding-left: 15px !important;
}


