body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    padding-top: 5rem;
    margin: 0 auto;
    width: 600px;
}

.rm {
    background: red;
    color: white;
    border: none;
}

.header {
    background-color: #5A5863 !important;
}

.header a {
    color: white !important;
}

.navigation {
    height: 45px;
}

.mainButton {
    background-color: #1A7FA8 !important;
}

.primaryButton {
    color: #009edd !important;
    border: 1px solid #009edd !important;
}

.primaryButton:hover {
    background-color: #1A7FA8 !important;
    color: white !important;
}

.footer {
    background-color: #E8E8EE;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}

.mainContainer {
    margin-top: 80px !important;
    padding: 0 205px !important;
    margin-bottom: 70px !important;
}

.deleteButton {
    margin-left: 10px;
    border: 1px solid #9D100D !important;
    color: black !important;
    background-color: #fcd9e0 !important;
}

.deleteButton:hover {
    border: 1px solid #9D100D !important;
    color: white !important;
    background-color: #9D100D !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding-left: 5px !important;
}

.card-body .table {
    margin-top: 25px;
}

.pagination span {
    background-color: #1A7FA8 !important;
    border-color: #1A7FA8 !important;
    color: #1A7FA8;
}

a.page-link {
    color: #1A7FA8;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableHead {
    background-color: #eaf7fc !important;
}

.card-body {
    padding-top: 10px !important;
}

.tableHead .mainButton:hover {
    background-color: #1993c4 !important;
    border: 1px solid #009edd !important;
    color: white;
}

.modal-header {
    border-bottom: 1px solid #009edd !important;
}

.modal-content {
    border-radius: .2rem !important;
}

.nav-link.active {
    color: #009edd !important;
}

.app-modal {
    min-width: 75% !important;
}

.validation-error {
    color: #dc3545;
    font-size: 80%
}

.total-card {
    width: 11rem;
    border-left: 3px solid #009edd !important;
}

.table-text-center {
    text-align: center;
}

.badge-status{
    background-color: #E8E8EE;
    text-align: center;
}

